#login-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4em;
}

#login-main>h1 {
    text-align: center;
    font-size: 2.5rem;
}

#login-main>button {
    font-size: 1.5rem;

}